.bottom_menu {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 95%;
  background: lightblue;
}

.bottom_button {
  display: inline-block;
  border: solid black;
  border-radius: 15%;
  padding: 1%;
  margin-left: 10%;
  margin-right: 10%;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 5%;
  margin-top: 5%;
}

.clicked {
  background-color: white;
}

.search_button{
  background-image: url(../img/search.png);
}

.favorites_button {
  background-image: url(../img/like.png);
}

.search_bar_form {
  padding: 3%;
  background: lightblue;
  width: 95%;
}

.search_bar{
  width: 75%;
  padding: 3%;
  border: solid black;
  margin-right: 5%;
}

.search_bar_button {
  background-image: url(../img/search.png);
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
  float: right;
  border: solid black;
  border-radius: 15%;
  background-color: white;
}

.search_status{
  text-align: center;
}

.search_list_entries{
  margin-bottom: 30%;
}

.search_result_entry {
  padding: 2%;
  border: solid black;
  margin: 2%;
}

.loading {
  background-color: lightblue;
}

.details_img {
  width: 30%;
  padding: 2%;
  border: solid black;
  background: lightblue;
}

.details_description_block {
  width: 40%;
  display: inline-block;
  margin-left: 5%;
  margin-bottom: 5%;
}

.details_favorite{
  text-align: center;
  padding: 10%;
  margin-bottom: 10%;
  border: solid black;
  border-radius: 15%;
  width: 25%;
}

.activ_fav {
  background-color: lightblue;
}

.details_title{
  font-size: large;
}

.details_year{
  font-style: italic;
}

.pagination_buttons {
  text-align: center;
}

.previous_page_button{
  display: inline-block;
  margin-right: 5%;
  border: solid black;
  padding: 1%;
  border-radius: 15%;
}

.pagination_status{
  display: inline-block;
}

.next_page_button{
  display: inline-block;
  margin-left: 5%;
  border: solid black;
  padding: 1%;
  border-radius: 15%;
}

.favorites_entries {
  margin-bottom: 10%
}

.favorite_entry {
  padding: 5%;
  border: solid black;
  margin-bottom: 30%;
}

.favorite_entry_head {
  padding: 1%;
  display: inline-block;
}

.favorite_entry_people {
  padding: 1%;
}

.favorite_entry_rating{
  padding: 1%;
}

.favorite_entry_misc {
  padding: 1%;
}

.favorite_entry_plot{
  padding: 1%;
}

.underline{
  text-decoration: underline;
  font-style:italic;
}
